::view-transition-new(resume-toolbar) {
animation: resume-toolbar-fade-down 500ms ease-out;
}

::view-transition-new(resume) {
  animation: resume-fade-up 500ms ease-out;
}

@keyframes resume-fade-up {
  from {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

@keyframes resume-toolbar-fade-down {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}