# POSTHOG - HIDE AS API ENDPOINTS
[[redirects]]
  from = "/api/static/*"
  to = "https://us-assets.i.posthog.com/static/:splat"
  host = "us-assets.i.posthog.com"
  status = 200
  force = true

[[redirects]]
  from = "/api/*"
  to = "https://us.i.posthog.com/:splat"
  host = "us.i.posthog.com"
  status = 200
  force = true


# DOMAIN REDIRECTS
[[redirects]]
  from = "https://rallen.dev/*"
  to = "https://rallendev.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://www.rallen.dev/*"
  to = "https://rallendev.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://rallen.uk/*"
  to = "https://rallendev.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://www.rallen.uk/*"
  to = "https://rallendev.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://www.rallendev.com/*"
  to = "https://rallendev.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://portfolio-ryansallen53.netlify.app/*"
  to = "https://rallendev.com/:splat"
  status = 301
  force = true