@font-face {
  font-family: "Anton";
  src: url("/fonts/Anton-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-optical-sizing: auto;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Italic-VariableFont_opsz,wght.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  font-optical-sizing: auto;
  font-display: swap;
}