@layer components {
  .font-h1 {
    font-size: 58px;
    line-height: 1em;
    font-family: var(--font-heading);
    text-transform: uppercase;
    letter-spacing: 0;
  }

  .font-hero {
    font-size: 46px;
    line-height: 0.98em;
    font-family: var(--font-heading);
    text-transform: uppercase;
    letter-spacing: 0;
  }

  .font-h2 {
    font-size: 34px;
    line-height: 1.25em;
    font-family: var(--font-heading);
    text-transform: uppercase;
    letter-spacing: 0;
  }

  .font-h3 {
    font-size: 28px;
    line-height: 1.28em;
    font-family: var(--font-heading);
    text-transform: uppercase;
    letter-spacing: 0;
  }

  .font-h4 {
    font-size: 24px;
    line-height: 1.28em;
    font-family: var(--font-heading);
    text-transform: uppercase;
    letter-spacing: 0;
  }

  .font-h5 {
    font-size: 20px;
    line-height: 1.3em;
    font-family: var(--font-heading);
    text-transform: uppercase;
    letter-spacing: 0;
  }

  .font-h6 {
    font-size: 18px;
    line-height: 1.3em;
    font-family: var(--font-heading);
    text-transform: uppercase;
    letter-spacing: 0;
  }

  @media (min-width: 640px) {
    .font-h1 {
      font-size: 84px;
    }

    .font-hero {
      font-size: 64px;
    }

    .font-h2 {
      font-size: 42px;
    }

    .font-h3 {
      font-size: 32px;
    }

    .font-h4 {
      font-size: 28px;
    }

    .font-h5 {
      font-size: 24px;
    }

    .font-h6 {
      font-size: 20px;
    }
  }

  @media (min-width: 1024px) {
    .font-h1 {
      font-size: 124px;
    }

    .font-hero {
      font-size: 86px;
    }

    .font-h2 {
      font-size: 54px;
    }

    .font-h3 {
      font-size: 36px;
    }

    .font-h4 {
      font-size: 32px;
    }

    .font-h5 {
      font-size: 26px;
    }

    .font-h6 {
      font-size: 22px;
    }
  }

  @media (min-width: 1280px) {
    .font-h1 {
      font-size: 146px;
    }

    .font-hero {
      font-size: 96px;
    }
  }
}
