.resume-background {
  background-color: var(--color-background-dark);
  padding-top: calc(35 * var(--spacing));
  /* padding-bottom: calc(20 * var(--spacing)); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume-paper {
  box-shadow: var(--shadow-2xl);
  background-color: var(--color-background-light);
  color: var(--color-foreground-light);
  box-sizing: border-box;
  overflow: hidden;
  width: 210mm;
  height: 297mm;
  animation: resume-fade-up 500ms ease-out;
}

.resume-toolbar {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  animation: resume-toolbar-fade-down 800ms ease-out;
}

::selection {
  background-color: var(--color-background-dark) !important;
  color: var(--color-foreground-dark) !important;
}

@keyframes resume-fade-up {
  from {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

@keyframes resume-toolbar-fade-down {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    margin: 0;
    padding: 0;
    background: white !important;
  }

  .resume-background {
    display: block;
    background: transparent;
    padding: 0;
  }

  .resume-paper {
    position: absolute;
    top: 0;
    left: 0;
    width: 210mm;
    height: 297mm;
    box-shadow: none;
  }

  .resume-toolbar,
  .resume-footer {
    display: none;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
