---
import Button from "@components/ui/Button.astro";
---

<main
  class="min-h-screen bg-background-dark text-foreground-dark flex items-center justify-center flex-col text-center"
>
  <h1 class="font-h1">Website under construction</h1>
  <p class="text-xl max-w-2x mx-20 mt-4">Sorry, this page is coming soon! Please check back later.</p>
  <Button variant="primary" href="mailto:hello@rallendev.com" as="a" class="mt-8" text="Contact Me" iconEnd="lucide:mail"/>
</main>
