---
import { cn } from "@scripts/utils";

const { class: className = "", text } = Astro.props;

const classes = cn("flex flex-row gap-2 items-center text-inherit", className);
---

<div class={classes}>
  <div class="flex flex-row gap-1">
    <span class="aspect-square w-2 bg-primary border border-primary"></span>
    <span class="aspect-square w-2 border border-foreground-dark"></span>
  </div>
  <span class="uppercase font-medium">{text}</span>
</div>
