---
import LogoIcon from "@components/branding/LogoIcon.astro";
import NavMenu from "@components/navigation/NavMenu.astro";
import IconButton from "@components/ui/IconButton.astro";

import socials from "@data/general/socials.yml";
---

<header
  class="pt-5 absolute left-0 top-0 right-0 w-full z-9999 text-foreground-dark"
  transition:persist
>
  <div class="container mx-auto max-w-7xl px-5">
    <div class="w-full border border-divider-dark">
      <div
        class="flex flex-row gap-10 justify-between items-center bg-background-dark"
      >
        <!-- Logo -->
        <a
          class="p-5 border-r border-divider-dark aspect-square fill-primary group"
          href="/"
        >
          <LogoIcon
            class="size-15 group-hover:scale-115 transition-transform duration-300"
          />
          <span class="sr-only">Ryan Allen - rallen.dev</span>
        </a>

        <!-- Navigation -->
        <div class="flex flex-row items-center justify-start gap-15 pr-10">
          <NavMenu />

          <div class="flex flex-row gap-2">
            {
              socials.profiles.map((profile: { name: string; url: string }) => {
                return (
                  <IconButton
                    as="a"
                    href={profile.url}
                    target="_blank"
                    icon={`mdi:${profile.name.toLowerCase()}`}
                    label={profile.name}
                    variant="ghostDarkPrimary"
                  />
                );
              })
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
