<form
  name="quote-request"
  method="POST"
  data-netlify="true"
  netlify-honeypot="bot-field"
  hidden
  aria-hidden="true"
>
  <input type="hidden" name="form-name" value="quote-request" />
  <input name="bot-field" />
  <input name="name" />
  <input name="email" />
  <input name="phone" />
  <input name="preferred_contact_method" />
  <input name="estimate" />
  <input name="quote_summary" />
  <textarea name="message"></textarea>
</form>
