---
import NavLink from "./NavLink.astro";
---

<nav
  class="flex flex-row items-start justify-center"
  aria-label="Main navigation"
>
  <ul class="flex flex-row items-center justify-center gap-8 pr-4" data-menu>
    <NavLink text="Home" href="/" />
    <NavLink text="Services" href="/services" />
    <NavLink text="About Me" href="/about" />
    <NavLink text="Blog" href="/blog" />
    <NavLink text="Contact" href="/contact" />
  </ul>
</nav>
