---
import Layout from "@layouts/BaseLayout.astro";

const pageTitle = "Welcome to My Portfolio";
---

<Layout>
  <h1>{pageTitle}</h1>
  <p>This is a placeholder for the homepage content.</p>
</Layout>
