---
import LogoIcon from "@components/branding/LogoIcon.astro";
---

<div class="resume-toolbar w-full">
  <div
    class="border-b border-divider-dark w-full flex flex-row backdrop-blur-lg bg-background-dark/70"
  >
    <a class="p-4 border-r border-divider-dark aspect-square text-primary" href="/">
      <LogoIcon class="size-10" />
      <span class="sr-only">Ryan Allen - rallen.dev</span>
    </a>
  </div>
</div>
