---
import ResumeSubTitle from "./ResumeSubTitle.astro";
---

<div class="flex flex-row">
  <div class="w-2/3">
    <div class="flex flex-col gap-2 px-20 pt-20 pb-10 bg-background-light relative z-20 -mb-0.5">
      <h1 class="text-5xl font-semibold uppercase tracking-widest">
        Ryan Allen
      </h1>
      <div
        class="flex flex-row items-center w-full gap-2 text-secondary-foreground-light"
      >
        <h2 class="text-lg tracking-wide">Web Developer & Designer</h2>
        <hr class="min-w-10 border border-secondary-foreground-light" />
      </div>
    </div>
    <div class="bg-primary text-primary-foreground pl-20 flex flex-col">
      <div class="bg-background-light flex flex-row">
        <div
          class="bg-primary w-fit pr-15 pt-5 -mb-px"
          style="clip-path: polygon(0 0, calc(100% - calc(var(--spacing) * 10)) 0, 100% 100%, 0% 100%);"
        >
          <ResumeSubTitle title="Profile" />
        </div>
        <div
          class="bg-muted max-w-20 h-12 w-20 -ml-8"
          style="clip-path: polygon(0 0, calc(100% - calc(var(--spacing) * 8.5)) 0, 100% 100%, calc(var(--spacing) * 8.5) 100%);"
        >
        </div>
      </div>
      <div class="h-35 flex items-center pb-2 pr-5">
        <p class="leading-relaxed text-xs">
          Passionate web developer and designer with a knack for creating
          user-friendly, visually appealing websites. Skilled in front-end and
          back-end development, with a strong foundation in HTML, CSS,
          JavaScript, and various frameworks. Committed to delivering
          high-quality digital experiences that meet client needs and exceed
          expectations.
        </p>
      </div>
    </div>
  </div>
  <div
    class="w-1/3 bg-secondary-dark text-secondary-foreground-dark bg-cover bg-center flex items-end"
    style="background-image: url(images/resume-photo.jpg);"
  >
    <div class="w-full h-35 bg-primary/50"></div>
  </div>
</div>
