<div class="resume-footer text-foreground-dark">
  <div class="pb-2 pt-10">
    <p class="text-foreground-dark/50 text-xs">&copy; {new Date().getFullYear()} Ryan Allen. All rights reserved.</p>
  </div>
</div>
