---
import LogoIcon from "@components/branding/LogoIcon.astro";
---

<div class="resume-toolbar w-full">
  <div
    class="border-b border-divider-dark w-full flex flex-row items-center justify-between backdrop-blur-lg bg-background-dark/70"
  >
    <a class="p-4 border-r border-divider-dark aspect-square text-primary group" href="/">
      <LogoIcon class="size-10 group-hover:scale-125 transition-all duration-300" />
      <span class="sr-only">Ryan Allen - rallen.dev</span>
    </a>

    <div>
      <button class="text-white" onclick="window.print()">
        Print
      </button>
    </div>
  </div>
</div>
