---
import Meta from "@components/layout/Meta.astro"

const locale = "en-GB";
---

<!doctype html>
<html lang={locale}>
  <head>
    <Meta locale={locale} {...Astro.props} />
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
