---
import CookieConsent from "@components/consent/CookieConsent.astro";
import Meta from "@components/content/Meta.astro"
import cookieConsent from "@data/general/cookie-consent.yml";

const locale = "en-GB";
const cookieConsentContent = cookieConsent as any;
const posthog = {
  key: import.meta.env.PUBLIC_POSTHOG_API_KEY,
  host: import.meta.env.PUBLIC_POSTHOG_API_HOST,
  uiHost: import.meta.env.PUBLIC_POSTHOG_API_UI_HOST,
  defaults: import.meta.env.PUBLIC_POSTHOG_DEFAULTS,
  capturePageview: import.meta.env.PUBLIC_POSTHOG_CAPTURE_PAGEVIEW,
  personProfiles: import.meta.env.PUBLIC_POSTHOG_PERSON_PROFILES,
};
---

<!doctype html>
<html lang={locale}>
  <head>
    <Meta locale={locale} {...Astro.props} />
    <slot name="head" />
  </head>
  <body>
    <slot />
    <CookieConsent content={cookieConsentContent} posthog={posthog} />
  </body>
</html>
