---
import { cn } from "@scripts/utils";

const { class: className = "", text, as = "span" } = Astro.props;

const classes = cn("flex flex-row gap-2 items-center text-inherit", className);

const Tag = as;
---

<div class={classes}>
  <div class="flex flex-row gap-1">
    <span class="aspect-square w-2 bg-primary border border-primary"></span>
    <span class="aspect-square w-2 border border-foreground-dark"></span>
  </div>
  <Tag class="uppercase font-medium">{text}</Tag>
</div>
